/* Cards Section */
.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards__information {
    width: 100%;
    max-width: 70rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cards__results {
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.cards__title {
    font-size: clamp(1rem, 2rem, 1.3rem);
    color: var(--text-color);
    font-weight: bold;
}

.cards__number {
    color: var(--primary-text-color);
}

/* Cards Filter Section */
.cards__filter {
    max-width: 20rem;
    display: none;
}

.cards__status {
    width: 100%;
    outline: none;
    border: 2px solid var(--secondary-color);
    text-align: center;
    border-radius: 2rem;
    padding: 0.8rem 1.1rem;
    cursor: pointer;
    transition: 0.3s ease all;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    background-color: transparent;
    color: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
}

/* Styles depending on the option selected */
.cards__status--dead {
    border-color: var(--red-color);
    color: var(--red-color);
    box-shadow: 0 0 10px var(--red-color);
}

.cards__status--alive {
    border-color: var(--primary-color);
    color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.cards__status--unknown {
    border-color: var(--yellow-color);
    color: var(--yellow-color);
    box-shadow: 0 0 10px var(--yellow-color);
}
/* End of the styles for this section*/

.cards__option {
    color: var(--text-color);
    text-align: left;
    background-color: hsl(from var(--main-background-color) h s calc(l + 2));
}


/* Cards */
.cards__container {
    width: 100%;
    max-width: 70rem;
    margin: clamp(1.8rem, 3vw, 2.5em) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(3rem, 5vw, 3.5rem);
}

.card {
    width: 85%;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    background: linear-gradient(var(--main-background-color) 80%, hsl(from var(--primary-color) h s l / 0.15));
    box-shadow: 0 0 20px hsl(from var(--primary-color) h s l / 0.5);
}

.card:nth-child(even) {
    background: linear-gradient(var(--main-background-color) 80%, hsl(from var(--secondary-color) h s l / 0.15));
    box-shadow: 0 0 20px hsl(from var(--secondary-color) h s l / 0.5);
}

.card__status {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    background-color: hsl(from var(--main-background-color) h calc(s + 5) calc(l + 7));
}

.card__status > p {
    font-family:"Bebas Neue", Arial, Helvetica, sans-serif ;
    letter-spacing: 0.15rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.card__circle {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.card__figure {
    width: 100%;
}

.card__img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.3rem;
    padding: 1.5rem 1.5rem 1.7rem 1.5rem;
    color: var(--text-color);
}

.card__planet {
    letter-spacing: 0.2rem;
    color: var(--secondary-color);
    font-size: 0.8rem;
    text-transform: uppercase;
}

.card__links {
    width: 100%;
    display: flex;
    margin-top: 2rem;
}

.card__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: hsl(from var(--primary-text-color) h s calc( l + 20));
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease color;
    outline: none;
}

.card__link:is(:hover, :focus-visible, :focus-within) {
    color: var(--primary-color);
}

.card__arrowImage {
    width: 0.8rem;
    height: 0.8rem;
    text-decoration: none;
    transition: 0.5s ease-in-out transform;
}

.card__link:is(:hover, :focus-visible, :focus-within) .card__arrowImage {
    transform: translateX(0);
}

@media screen and (min-width:768px) {
    .cards__information {
        justify-content: space-between;
    }

    .cards__filter {
        display: block;
    }

    .card {
        max-width: 20rem;
    }

    .card__arrowImage {
        transform: translateX(-9.5rem);
    }

}

@media screen and (min-width:850px) {
    .cards__information {
        padding: 0 2rem;
    }
}