@import url('./variables.css');
@import url('./components/header.css');
@import url('./components/aside.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--neutral-color);
    background-color: var(--main-background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}